<h1>Current Blog Posts</h1>
<p id="notice"><%= notice %></p>

<p>
  
</p>
<div class="panel-body">
by <strong><%= @blog_post.user.email %></strong> 

<p>on <%= @blog_post.created_at.strftime("%B %d, %Y") %></p>
  <p>
  <%= @blog_post.blog_entry %>
</p>
<p>
<%= link_to 'Edit', edit_blog_post_path(@blog_post) %>

</p>
</div>

<%= link_to 'Back', blog_posts_path %>






<h4>Comments<h4>
    <%@blog_post.comments.each do |comment| %>
    <div class="panel panel-success">
    	<div class="panel-body">
 <p><strong><%= comment.user.email %><strong> said: </p>
    <p><strong><%= comment.user.email %></p><    



    <% end %> 